<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.240803.1" targetFramework="native" />
  <package id="cpprestsdk.v142" version="2.10.15" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="native" />
  <package id="WebView2.Runtime.X64" version="131.0.2903.70" targetFramework="native" />
</packages>